myenv
test.py
khanadotcom_app/templates/home.html
khanadotcom_app/templates/login.html
khanadotcom_app/templates/logout.html
khanadotcom_app/templates/orderplace.html
khanadotcom_app/templates/signup.html
khanadotcom_app/templates/sucess.html
khanadotcom_app/templates/restaurant_detail.html
khanadotcom_app/templates/restaurant_related.html
media/menu_items
media/profile_pictures