<!-- place_order.html -->
{% extends 'base.html' %}

{% block title %}Place Order - {{ restaurant.name }}{% endblock %}

{% block content %}
    <h2>Place Your Order at {{ restaurant.name }}</h2>
    <form method="post">
        {% csrf_token %}
        {% for item in menu_items %}
        <label>
            <input type="checkbox" name="menu_item" value="{{ item.id }}">
            {{ item.name }} - ${{ item.price }}
        </label><br>
        Quantity: <input type="number" name="quantity" min="1" value="1"><br><br>
        {% endfor %}
        <input type="submit" value="Place Order">
    </form>
{% endblock %}
